@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --pink: #e72463;
  --pinktwo: #e95a87;
  --red: #c0392b;
  --beige: #eae1dc;

  --beige-gras: #e2d9d0;
  --violet: #491a6d;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background-color: var(--pink);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

/* ---------------header---------------- */
.header-admin {
  background-color: #e2d9d0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.header-admin .flex-admin {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  max-width: 1200px;
  position: relative;
}

.header-admin .flex-admin .navbar-admin ul {
  list-style: none;
}

.header-admin .flex-admin .navbar-admin ul li {
  float: left;
  position: relative;
}

.header-admin .flex-admin .navbar-admin ul li a {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  display: block;
  color: #252525;
  text-transform: capitalize;
  text-decoration: none;
}

.header-admin .flex-admin .navbar-admin ul li a:hover {
  color: var(--pink);
}

.header-admin .icons-admin i:hover {
  cursor: pointer;
  color: var(--pinktwo);
}
.header-admin .icons-admin i {
  margin-left: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--violet);
}

.header-admin .flex-admin .logo-warda {
  width: 200px;
}

.header-admin .flex-admin .account-box {
  position: absolute;
  top: 120%;
  right: 1rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: #ececec;
  padding: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  animation: fadeIn 0.2s linear;
}

.header-admin .flex-admin .account-box.active {
  display: inline-block;
}

.header-admin .flex-admin .account-box p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--black);
  line-height: 1.5;
}

.header-admin .flex-admin .account-box p span {
  color: var(--pink);
}

.header-admin .flex-admin .account-box button {
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 5px 10px;
  /* margin-top: 2rem; */
  background-color: var(--pink);
  color: #ffffff;
}

.header-admin .flex-admin .account-box div a {
  color: var(--orange);
}

.header-admin .flex-admin .account-box div a:hover {
  text-decoration: underline;
}

.header-admin .flex-admin .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header-admin .flex-admin .icons div:hover {
  color: var(--pink);
}

.header-admin .flex-admin .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--light-color);
}

.header-admin .flex-admin .navbar a:hover {
  text-decoration: underline;
  color: var(--pink);
}

.header-admin .flex-admin .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header-admin .flex-admin .logo span {
  color: var(--pink);
}

#menu-btn {
  display: none;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  color: #545bba;
}
.box-container {
  padding: 2% 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  align-items: center;
}
.box-container .box {
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 1rem;
  background: aliceblue;
  /* border: 2px solid goldenrod; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 1rem;
  text-align: center;
  border-radius: 5 px;
}
.box-container .box h3 {
  font-size: 3rem;
  color: #545bba;
}
.box-container.box p {
  font-size: 18rem;
  text-transform: capitalize;
  margin: 1rem;
}
.box:hover {
  background: #c7b3f5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #545bba;
}
.add-products,
.form-container-add-admin {
  width: 30vw;
  margin: 2rem auto;
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  /* width: min-content; */
  /* border: 1px solid #030202; */
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.add-products .box-product,
.form-container-add-admin .box-product {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--black);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 0.5rem 1.5rem;
  /* border: var(--border); */
}
/* .add-products textarea {
  height: 8rem;
  resize: none;
}
.add-products .btn {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
  color: #666;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 0.2rem 0.4rem;
  border: 1px solid #545bba;
}
.btn:hover {
  background: #545bba;
  border: 2px solid;
  color: grey;
} */

.add-products form,
.form-container-add-admin form {
  max-width: 100rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  /* border: var(--border); */
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.add-products form h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
  color: var(--pink);
}

.btn {
  background-color: var(--pink);
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.btn:hover {
  background: var(--pinktwo);
  /* border: 2px solid; */
  color: rgb(255, 255, 255);
}
.add-products form textarea {
  height: 10rem;
  resize: none;
}
/* --------------show flowers ------------- */

.box-container-product {
  display: flex;
  justify-content: center;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.box-flower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.box-flower p {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 2;
  overflow: hidden;
  max-width: 10rem;
  /* border: 1px solid red; */
  width: auto;
  /* display: inline-block; */
}

.price {
  background-color: var(--pink);
  /* width: 12rem; */
  /* display: flex;
  justify-content: center; */
  /* border-radius: 0.8rem; */
  color: var(--white);
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.name {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}

.details {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.option-btn,
.delete-btn {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 8px 0;

  color: white;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.option-btn {
  background-color: var(--pink);
  color: white;
}
.delete-btn {
  background-color: var(--red);
  color: white;
}
.option-btn:hover {
  background-color: #fa0276;
  color: white;
}
.delete-btn:hover {
  background-color: red;
  color: white;
}

.empty {
  text-align: center;
  font-size: 18px;
  color: #333;
}

/* ---------update product --------- */
.update-product form {
  width: 80vw;
  margin: 2rem auto;
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  /* flex-direction: column; */
  gap: 80px;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  /* width: min-content; */
  /* border: 1px solid #030202; */
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.formfilform {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}
